*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: black;
}

.picasso-container {
    position:absolute;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20px 40px 20px 90px;
    grid-template-rows: 50px 30px 100px 40px;

    &__whitetop-left {
        background-color: white;
        border: 2px solid black;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__topred {
        background-color: red;
        border: 2px solid black;
        grid-column: 2/4;
        grid-row: 1/2;
    }

    &__topwhite {
        background-color: white;
        border: 2px solid black;
        grid-column: 4/5;
        grid-row: 1/2;
    }

    &__miniwhite-left {
        background-color: white;
        border: 2px solid black;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    &__whitebetween-mini {
        background-color: white;
        border: 2px solid black;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    &__miniwhite-right {
        background-color: white;
        border: 2px solid black;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    &__slim-red {
        background-color: red;
        border: 2px solid black;
        grid-column: 4/5;
        grid-row: 2/3;
    }
    &__blue-slim {
        background-color: blue;
        border: 2px solid black;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    &__white-next-slimblue {
        background-color: white;
        border: 2px solid black;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    &__yellow {
        background-color: yellow;
        border: 2px solid black;
        grid-column: 3/4;
        grid-row: 3/4;
    }
    &__white-above-bottomblue {
        background-color: white;
        border: 2px solid black;
        grid-column: 4/5;
        grid-row: 3/4;
    }
    &__whitebottom-left {
        background-color: white;
        border: 2px solid black;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    &__whitebottom-mid {
        background-color: white;
        border: 2px solid black;
        grid-column: 2/4;
        grid-row: 4/5;
    }

    &__bluebottom-right {
        background-color: blue;
        border: 2px solid black;
        grid-column: 4/5;
        grid-row: 4/5;
    }


}




