*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 90vh;
    width: 90vw;
    position: relative;
}
.parent {
    position: absolute;
    box-sizing: border-box;
    width: 14%;
    height: 40%;
    border-top: 10px solid black;
    top: 10%;
    left: 10%;
    display: grid;
    grid-template-columns: 9% 21% 10% 47.6%;
    grid-template-rows: 21% 7% 46% 14%;
    gap: 10px;
    background-color: black;
}
.box_one_white {
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
}
.box_two_white {
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
}
.box_three_blue {
    background-color: #0928E3;
    grid-column: 1/2;
    grid-row: 3/4;
}
.box_four_white {
    background-color: white;
    grid-column: 1/2;
    grid-row: 4/5;
}
.box_five_red {
    background-color: red;
    grid-column: 2/4;
    grid-row: 1/2;
} 
.box_six_white {
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/3;
}
.box_seven_white {
    background-color: white;
    grid-column: 2/3;
    grid-row: 3/4;
}
.box_eight_white {
    background-color: white;
    grid-column: 2/4;
    grid-row: 4/5;
}
.box_nine_white {
    background-color: white;
    grid-column: 3/4;
    grid-row: 2/3;
} 
.box_ten_yellow {
    background-color: #F5D007;
    grid-column: 3/4;
    grid-row: 3/4;
}
.box_eleven_white {
    background-color: white;
    grid-column: 4/5;
    grid-row: 1/2;
}
.box_twelve_red {
    background-color: red;
    grid-column: 4/5;
    grid-row: 2/3;
}
.box_thirteen_white {
    background-color: white;
    grid-column: 4/5;
    grid-row: 3/4;
}
.box_fourteen_blue {
    background-color: #0928E3;
    grid-column: 4/5;
    grid-row: 4/5;
} 