.parent {
    margin: 20px;
    padding: 0;
    width: 900px;
    height: 700px;
    display: grid;
    border: 5px solid black;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.item {
    border: 3px solid black;

}
.item.one_white {
    background-color: white;
    grid-column: 1 /2;
    grid-row: 1 /3;
}
.item.two_black {
    background-color: black;
    grid-column: 1 /2;
    grid-row: 3 / 7;
}
.item.three_white {
    background-color: white;
    grid-column: 1 /2;
    grid-row: 7 / 9;
}
.item.four_white {
    background-color: white;
    grid-column: 1 /5 ;
    grid-row: 9 / 10;
}
.item.five_white {
    background-color: white;
    grid-column: 2 / 9;
    grid-row:  1 / 2;

}
.item.six_blue {
    background-color: navy;
    grid-column: 2  / 9;
    grid-row: 2 / 2;
}
.item.seven_white {
    background-color: white;
    grid-column: 2 / 4 ;
    grid-row: 3 / 7;
}
.item.eight_red {
    background-color: red;
    grid-column: 2 / 4 ;
    grid-row: 7 / 9 ;
}
.item.nine_black {
    background-color: black;
    grid-column: 4 / 5 ;
    grid-row: 3 / 9 ;
}
.item.ten_white {
    background-color: white;
    grid-column: 5 / 8;
    grid-row: 3 / 6 ;
}
.item.eleven_yellow {
    background: yellow;
    grid-column: 5 /6;
    grid-row: 6 / 7 ;
}
.item.twelve_yellow {
    background-color: yellow;
    grid-column: 5 / 6;
    grid-row: 7 / 10 ;
}
.item.thirteen_white {
    background-color: white;
    grid-column: 8 / 9;
    grid-row: 3 / 6;
}
.item.fourteen_red {
    background-color: red;
    grid-column: 6 / 9;
    grid-row: 6 / 7;
}
.item.fifteen_white {
    background-color: white;
    grid-column: 6 / 11;
    grid-row:  7/ 9 ;
}
.item.sixteen_red {
    background-color: red;
    grid-column: 6 / 9;
    grid-row: 9 / 10;
}
.item.seventeen_white  {
    background-color: white;
    grid-column: 9 / 17;
    grid-row: 1 / 2;
}
.item.eighteen_white {
    background-color: white;
    grid-column: 9 / 12;
    grid-row: 2 / 3;
}
.item.nineteen_yellow {
    background-color: yellow;
    grid-column: 9 / 12;
    grid-row: 3 / 6;
}
.item.twenty_blue {
    background-color: navy;
    grid-column: 9 / 12;
    grid-row: 6 / 7;
}
.item.twenty-one_white {
    background-color: white;
    grid-column: 11 / 14;
    grid-row: 7 / 9;

}
.item.twenty-two_black {
    background-color: black;
    grid-column: 9 /14 ;
    grid-row: 9 / 10;
}
.item.twenty-three_blue {
background-color: navy;
grid-column: 12 / 17;
grid-row: 2 / 3;
}
.item.twenty-four_red {
    background-color: red;
    grid-column: 12 / 16;
    grid-row:  3 / 6;
}
.item.twenty-five_white {
    background: white;
    grid-column: 12 / 16;
    grid-row:  6 / 7;
}
.item.twenty-six_blue {
    background: blue;
    grid-column: 14 / 16 ;
    grid-row: 7 / 9 ;
}
.item.twenty-seven_white {
    background: white;
    grid-column: 14 / 19;
    grid-row: 9 / 10;
}
.item.twenty-eight_red {
    background-color: red;
    grid-column: 16 / 17;
    grid-row: 3 / 6;
}
.item.twenty-nine_white {
    background-color: white;
    grid-column: 16 / 17;
    grid-row: 6 /7;
}
.item.thirty_yellow {
    background-color: yellow;
    grid-column: 16 / 17;
    grid-row: 7 / 9 ;
}
.item.thirty-one_white {
    background-color: white;
    grid-column: 17 / 18;
    grid-row: 1 / 6;
}
.item.thirty-two_black {
    background-color: black;
    grid-column: 17 / 19;
    grid-row: 6 / 7;
}
.item.thirty-three_white {
    background-color: white;
    grid-column: 17 / 19;
    grid-row: 7 / 9;
}
.item.thirty-four_yellow {
    background-color: yellow;
    grid-column: 18/19 ;
    grid-row: 1 / 6;
}